
<section class="hero">
    <div class="hero-content">
       <h1 class="hero-title">
        Jesus Reyes Lara </h1> <br>
        <h1 class="text-center hero-title">25 años | <span>05 - marzo - 1997</span> </h1>
        <br>
        <p class="text-center">
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href=" https://wa.me/+52558515721?text=¡Estoy+interesado!" title="">
            <i class="fa fa-whatsapp"></i></a>
              <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
        </p>   
    </div>

</section>

<section id="about">
  <div class="container">
    <h1 class="text-center hero-title">Historia </h1>
    <br>

      <div class="row">
          <div class="col-lg-4 col-sm-12 col-12">
              <img style="width: 100%; height: 100%;" src="../../../../assets/yo.jpg" class= "imageAboutPage" alt="">
          </div>

          <div class="col-lg-8">              <p> 
                Soy egresado de la cerrera de ingeniería en sistemas computacionales con ganas de seguir aprendiendo enmuchos aspectos profesionales.
              </p>
              <p>
                "Mi objetivo profesional es desarrollarme dentro de unaempresa con perspectivas a largo plazo, aplicando mis conocimientos y aptitudes para mejorar la experiencia de los clientes y aportar mayor rendimiento con mis capacidades."
              </p>
              <h1 class="text-left hero-title">Escolaridad </h1>
              <br>
              <p> 
                TECNOLÓGICO DE ESTUDIOS SUPERIORES DEL ORIENTE DEL ESTADO DE MÉXICO</p>
              <div class="row mt-3">
                <h1 class="text-left hero-title">Habilidades </h1>
                <br>
                  <div class="col-md-6">
                      <ul>
                          <li>Responsabilidad</li>
                          <li>Responsabilidad</li>
                          <li>Comunicación efectiva</li>
                          <li>Trabajo en equipo</li>
                          <li>Deseos de aprender</li>
                          <li>Pensamiento crítico</li>
                      </ul>
                  </div>
                  <div class="col-md-6">
                      <ul>
                        <li>Autoaprendizaje</li>
                        <li>Disciplinado</li>
                        <li>Flexibilidad/adaptabilidad</li>
                        <li>Creatividad</li>
                        <li>Actitud positiva</li>
                        <li>Confianza</li>

                      </ul>
                  </div>
              </div>
           
          </div>
      </div>
</div>
</section>


<br><br>
<section id="services">
  <div class="container">
    <h1 class="text-center hero-title">Experencia laboral </h1>
    <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i style="color: rgb(22, 131, 12);" class="fas servicesIcon fa fa-laptop"></i>
                      <h4 class="card-title mt-3" style="font-weight: 800;">ANACONDA SOFTWARE</h4>
                      <p class="card-text" style="font-size: 12px;">Locutor y comentariasta
                      </p>
                      <ul style="font-size: 12px;">
                        <li>Realice soporte técnico</li>
                        <li>Elaboré un sistema web de organización de eventos sociales utilizando las tecnologías de PHP, CSS, JS y
                          HTML</li>
                      </ul>
                  </div>
              </div>  
          </div>
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i style="color: rgb(51, 111, 134);" class='fas servicesIcon fa fa-podcast'></i>
                      <h4 class="card-title mt-3" style="font-weight: 800;">Soonaradio</h4>
                      <p class="card-text" style="font-size: 12px;">Locutor y comentariasta
                      </p>
                      <ul style="font-size: 12px;">
                      <li>Tuve a mi cargo dos programas en los cuales era locutor y realizaba el guiones para cada uno.</li>
                      </ul>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                      <i style="color: red;" class='far servicesIcon fa fa-graduation-cap'></i>
                      <h4 class="card-title mt-3" style="font-weight: 800;">CEP</h4>
                      <p class="card-text" style="font-size: 12px;">Administrador de una plataforma, tester y soporte tecnico septiembre 2021.
                      </p>
                      <ul style="font-size: 12px;">
                      <li>Se contrato una plataforma para administrarla.</li>
                      <li>Se checaba el funcionamiento de la misma día a día</li>
                      <li>Realice trabajos de soporte técnico a maquinas como lo fue en hardware y software</li>
                      </ul>
                  </div>
              </div>  
          </div>
      </div>
<br><br>
      <div class="row">
        <h1 class="text-center hero-title">Proyectos independintes </h1>
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                    <i style="color: red;" class='far servicesIcon fa fa-graduation-cap'></i>
                    <h4 class="card-title mt-1" style="font-weight: 800;">CEP</h4>
                    <p class="card-text" style="font-size: 12px;">Administrador de una plataforma, tester y soporte tecnico septiembre 2021.
                    </p>
                    <ul style="font-size: 12px;">
                    <li>Se utilizó Laravel como Backend y Angular como FrontEnd, además de las tecnologías:TypeScript, PHP,
                      Mysql, JS, CSS, JSON y HTML</li>
                    <li>Desarrollé un sistema gestor de contenidos que permitiría adaptar tu sitio web a las necesidades del
                      cliente, el tiempo solo permitió implementar los tipos: Blog y Tienda
                      </li>
                    </ul>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                    <i style="color: red;" class='far servicesIcon fa fa-graduation-cap'></i>
                    <h4 class="card-title mt-1" style="font-weight: 800;">Tienda</h4>
                    <p class="card-text" style="font-size: 12px;">
                      SISTEMA WEB VENTA DE "COPIADORAS Y CONSUMIBLES" 
                    </p>
                    <ul style="font-size: 12px;">
                    <li>En el area de desarrollo también estuve involucrado junto con una persona más. Se desarrollo un panel de administrador para que el cliente pudiera hacer modificaciones a su sistema</li>
                    <li>Se utilizó en todos los proyectos Laravel como Backend y Angular como FrontEnd, además de las
                      tecnologías:TypeScript, PHP, Mysql, JS, CSS, JSON y HTML.
                      </li>
                    </ul>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <div class="card-body">
                    <i style="color: red;" class='far servicesIcon fa fa-graduation-cap'></i>
                    <h4 class="card-title mt-1" style="font-weight: 800;">Otro</h4>
                    <ul style="font-size: 12px;">
                    <li>SISTEMAS WEB PARA UN RESTAURANT "TACOS EL CORRAL"
                    </li>
                    <li>SISTEMA WEB PARA GESTION CALIFICACIONES ESCOLARES</li>
                    </ul>
                  </div>
              </div>  
          </div>
      </div>
  </div>
</section>