@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Press+Start+2P&display=swap');

body{
    background-image: url('../../../assets/wall.jpg');
}
.titulo{
    font-family: 'Anybody', cursive;
    font-size: 18px; 
    font-family: 'Press Start 2P', cursive;
}

li a{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 10px;
}

