<main>
<div class="grey-bg container-fluid banner">
    <section id="minimal-statistics">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
          <h2 class="text-uppercase listTi">Listado pokemon's</h2>
        </div>
      </div>
      <div class="container">
      <div class="row">

        <!--Tarjeta 1-->
      <div class="col-xl-4 col-sm-6 col-6 p-2" *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: 12, currentPage: pageActual }"> 
        <a type="button" style="cursor: pointer;" [routerLink]="['/detalles/' + pokemon.name,pokemon.id]" (click)="getPokemon()" >
          <div class="card mb-3 rounded-5" style="max-width: 540px; background-image: url('../../../../assets/cardfondo.png'); background-size:cover; background-repeat: no-repeat;">
            <div class="row g-0">
              <div class="col-md-7 col-8">
                <div class="card-body">
                  <h2 class="card-title texto-encima">{{pokemon.name}}</h2>
                  <br> <br>
                  <p class="card-text text-tarje">Este pokemon tiene la diferentes caracteristicas.</p>
                  <p class="card-text"><span class="badge bg-light text-dark ms-1"># {{pokemon.id}}</span></p>       
                </div>
              </div>
              <div class="col-md-4 col-4 mt-4">
                <img src="{{pokemon.sprites.front_default}}" style="width: 130px; height: 130px;" class="img-fluid rounded-start" alt="...">
              </div>
            </div>
          </div>

        </a>
         
      </div>
      </div>
      </div>

    </section>
    <div class="container h-100 mt-4 text-center">
      <pagination-controls 
      (pageChange)="pageActual = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente">
  </pagination-controls>
  </div>
</div>

</main>
